:root {
  /* global colour set up */
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  /* Font Families */
  --font-family: 'Epilogue', sans-serif;
}

.hide {
  display: none;
}

.hide-mobile {
  display: none;
}

body {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  color: var(--almost-black);
}

p {
  color: var(--medium-gray);
  line-height: 25px;
  margin: 20px 0 25px;
}

a, .nav-a {
  text-decoration: none;
  color: var(--medium-gray);
}

button {
  font-family: var(--font-family);
}

.button-main {
  margin-bottom: 45px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  padding: 16px 26px;
  color: var(--almost-white);
  background-color: var(--almost-black);
}

.button-nav {
  width: 100%;
  font-size: 14px;
  border: 1px solid var(--medium-gray);
  border-radius: 15px;
  padding: 12px 20px;
  color: var(--medium-gray);
  background-color: rgba(0, 0, 0, 0);
}

nav {
  padding: 23px 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.mobile-menu-container {
  background-color: #fff;
  width: 50%;
  height: 93%;
  padding: 27px;
  position: absolute;
  top: 0;
  right: 0;
}

.mobile-links .sub-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.active-menu {
  display: block !important;
}

.nav-a, .nav-a li {
  margin: 20px 0;
}

.nav-a li {
  padding-left: 15px;
}

.nav-a>img {
  padding: 0 10px;
}

.sub-menu img {
  padding-right: 10px;
}

.nav-b {
  margin: 10px 0;
}

.close-icon {
  text-align: right;
}

.account-container {
  text-align: center;
  font-size: 14px;
  margin: 30px 0;
}

.container-img img{
  width: 100%;
}

.container-txt {
  text-align: center;
  margin: 40px 17px;
}

.container-clients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container-clients img {
  width: 80px;
}

@media screen and (min-width:920px) {

  .hide-mobile {
      display: inline;
  }

  .hide-desktop {
      display: none;
  } 

  body {
      font-size: 18px;
  }
  
  
  h1 {
      font-size: 80px;
      line-height: 76px;
  } 

  p {
      line-height: 27px;
      margin: 50px 0;
      padding-right: 15%;
  }
  
  a , .nav-a {
      font-size: 14px;
  }

  a:hover , a:active , .nav-a:hover {
      color: var(--almost-black);
      cursor: pointer;
  }
  
  nav {
      gap: 40px;
      padding: 25px 40px;
      }

  .desktop-links .sub-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: white;
      box-shadow: 0px 0px 30px 3px rgba(124, 124, 124, 0.15);
      padding: 20px;
      border-radius: 10px;
      top: 80px;
  }

  .desktop-links:first-child>.sub-menu {
      left: 110px;
  }

  .desktop-links .sub-menu li {
      display: flex;
      text-align: left;
      align-items: center;
      padding: 0;
      margin: 10px;
      align-self: start;
  }

  .items-container,  .items-container ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .sub-menu img {
      padding-right: 15px;
  }

  .nav-a {
      margin: 0 20px;
  }

  .nav-b {
      margin: 0 40px;
  }

  .items-container {
      width: 100%;
  }

  .account-container {
      margin: 0;
  }

  .container-main {
      margin: 50px auto;
      width: 82%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10%;
  }

  .container-txt {
      margin: 0 20px;
      text-align: left;
      align-self: flex-end;
  }
  
  .button-nav {
      font-size: 14px;
      padding: 12px 20px;
  }
  
  .button-nav:hover {
      border: 2px solid var(--almost-black);
      color: var(--almost-black);
      padding: 11px 19px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0);
  }
  
  
  .button-main {
      margin-bottom: 120px;
      font-size: 18px;
      padding: 20px 32px;
  }

  .button-main:hover {
      border: 1px solid var(--almost-black);
      color: var(--almost-black);
      font-weight: 700;
      padding: 19px 31px;
      background-color: rgba(0, 0, 0, 0);
  }
  
}
